<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>769503847703-sgotth75hig6i6eav4imqk9fgirj1ce6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.769503847703-sgotth75hig6i6eav4imqk9fgirj1ce6</string>
	<key>API_KEY</key>
	<string>AIzaSyC7sRshP9Vh8qe0rSG88MSpV0jQN9AsDjI</string>
	<key>GCM_SENDER_ID</key>
	<string>769503847703</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gtkFlutter</string>
	<key>PROJECT_ID</key>
	<string>fir-flutter-codelab-e41be</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-flutter-codelab-e41be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:769503847703:ios:250fe810dfc21525718352</string>
</dict>
</plist>